# Ignore local Terraform configuration directories
.terraform/

# Ignore state files (which can contain plain-text secrets)
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Backup files and plans
*.tfplan
*tfstate.backup

# Secure Private Keys
*.pem
*key.pem
